<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block navigation %}
            {{ render_esi(controller('App\\Controller\\EsiController::navigation')) }}
        {% endblock %}
        <div>
            {% if is_granted("ROLE_USER") %}
                Hi {{ app.user.username }} | <a href="{{ path("_security_logout") }}">Logout</a>
            {% elseif is_granted("IS_AUTHENTICATED_2FA_IN_PROGRESS") %}
                Hi {{ app.user.username }}, please complete 2fa | <a href="{{ path("_security_logout") }}">Cancel</a>
            {% else %}
                <a href="{{ path("_security_login") }}">Login</a>
            {% endif %}
            <hr />
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
